<section data-ng-controller="PrescriptionsListController">
  <div class="page-header">
    <h1>Prescriptions</h1>
  </div>
  <div class="list-group">
     <div class ="col-sm-4" ng-repeat="prescription in vm.prescriptions">
        <a ui-sref="prescriptions.view({ prescriptionId: prescription._id })" class="list-group-item">
        <div class="row">
              <div class="col-xs-10 col-xs-offset-1 text-center">
                  <h4 class="list-group-item-heading" ng-bind="prescription.firstname"></h4>
                  <h4 class="list-group-item-heading" ng-bind="prescription.lastname"></h4>
                  <h4 class="list-group-item-heading" ng-bind="prescription.address01"></h4>
                  <h4 class="list-group-item-heading" ng-bind="prescription.address02"></h4>
                  <h4 class="list-group-item-heading" ng-bind="prescription.town"></h4>
                  <h4 class="list-group-item-heading" ng-bind="prescription.medicine"></h4>
                  <h4 class="list-group-item-heading" ng-bind="prescription.amount"></h4>
                  <h4 class="list-group-item-heading" ng-bind="prescription.treatment"></h4>
                  <h4 class="list-group-item-heading" ng-bind="prescription.signature"></h4>
                  <small class="list-group-item-text text-muted"></small>
                  <h4>Created On</h4>
                  <span ng-bind="prescription.created | date:'medium'"></span> <!-- Angular Date Related Filter to create current date and time--> 
                  <small class="list-group-item-text text-muted"></small>
              </div>
          </div>
          </a>
        </div>
    </div>
    <div class="alert alert-warning text-center" ng-if="vm.prescriptions.$resolved && !vm.prescriptions.length">
                No Prescriptions yet, why don't you <a ui-sref="prescriptions.create">create one</a>?
    </div>         
</section>
